{% extends 'base.html' %}

{% block title %}forum{% endblock %}

{% block content %}
<!--<h4>Currect user: {{request.user}} &#45;&#45;&#45;&#45; <a href="/admin/logout/">Logout</a></h4>-->
<!--{% if request.user.is_authenticated %}-->
<!--    {{request.user}}-->
<!--{% else %}-->
<!--asdfasa-->
<!--{% endif %}-->
<h1>Forum main page</h1>
{% if forums %}
    {% for a in forums %}
        <div>
            <h1><a href="{{ a.id }}">{{a.title}}</a></h1>
            {% for i in a.topic_set.all %}
            <a href="{{a.id}}/{{i.id}}">{{ i }}</a>
            <br>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
No forums >-<
{% endif %}

{% endblock %}